Options -indexes
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^([^/]+)/([^/]+)/?$ /index.php?uri=%{REQUEST_URI} [L,QSA,NC]
RewriteRule ^(.*)$ /index.php?uri=%{REQUEST_URI} [L,QSA,NC]
#ErrorDocument 404 /index.php?uri=%{REQUEST_URI}