<template>

    <header class='-absolute -row -fixed -zero' style='padding:1em;background:@LIGHT1;font:@FONT'>
        <span class='-left' style='color:@FONT44;font-size:1.75em;'>FAAUJS</span>
        <nav class='-right'>
            <div class='-right -pointer' style='background:@ALIZARIN' onclick='get_out()'>
                <img src='img/icons/cross.svg' class='-inverted' style='height:2em;width:2em;padding:.5em;'/>
            </div>
            <div class='-right' style='margin:0 1em'>
                <span class='-left' style='padding:.25em 1em;color:@FONT44'>TEMA: </span>
                <div class='-left -pointer --theme-switch --dark'  onclick='switch_theme("dark")'>Escuro</div>
                <div class='-left -pointer --theme-switch --light' onclick='switch_theme("light")'>Claro</div>
            </div>
        </nav>
    </header>
    <style>
        .--theme-switch { 
            padding:.25em 1em;            
        }
        .--theme-switch.--dark {
            border-radius:1em 0 0 1em;
            border:1px solid @LIGHT2;
            background:@DARK4;
            color:@LIGHT4;
        }
        .--theme-switch.--light {
            border-radius:0 1em 1em 0;
            border:1px solid @DARK2;
            background:@LIGHT4;
            color:@DARK4;
        }
    </style>
    <script>
        get_out = NULL => { app.clear_cache(); location.reload() }
        switch_theme = theme_name => { app.storage('theme_name', theme_name); location.reload() }
        $('#app')[0].on("contextmenu", ev => { ev.preventDefault(); app.hintify('Event menu triggered'); return false }, false)
        bootloader.ready('home')
    </script>

</template>