<template>
    <div class="-centered -col-4 --splash">
        <div class="-left --progress" style="padding:.125em;background:@SPAN"></div>
    </div>
    <script>
        bootloader.onReadyStateChange.add(perc => $(".--splash .--progress")[0].anime({ width:perc+"%"}));
        bootloader.onFinishLoading.add(NULL => {
            $(".--splash .--progress")[0].anime({ width:"100%"});
            app.sleep(AL).then($(".--splash").desappear(AL*3, true))
        });
        app.sleep(AL).then(NULL => bootloader.ready("splash"))
    </script>
</template>